

#name {
	color:#0055ff;
	font-family: "Arial";
    font-size: 23px;
}

#price {
	font-weight: bold;
    font-size: 25px;
}

#butt {
	margin-bottom: 15px;
	font-size: 18px;
}

#img1 {
    border-radius: 25px;
}

#quantity {
	font-size:15px;
	width:13%;
	padding-left: 4px;
}
#q {

 font-family: "Helvetica";
 font-weight: 600;
 font-size:  15px;



}